

* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  /*scrollbar-width: none;*/
}
body::-webkit-scrollbar {
  display: none;
}
.main-title {
  font-size: 32px; 
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Stile per la navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #003366;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  margin: 0 10px;
  background-color: #00509e;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.navbar a:hover {
  background-color: #0077cc;
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto;
}
.container h1 {
  width: 100%;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}
.container p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.nome-cognome {
  align-self: flex-start;
}
.additional-image {
  width: 700px;
  display: block;
  margin: 20px auto;
}
#titolo {
  color: red;
  transition: color 0.5s;
} 
